@using System.Globalization
@{
    var currentCulture = CultureInfo.CurrentCulture.Name;
    var flag = currentCulture == "ar" ? "ae" : currentCulture == "fa" ? "iran" : "united-states";
    bool rtl = currentCulture == "ar" || currentCulture == "fa";
}
<form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" method="post">
    <input type="hidden" id="culture" name="culture" value="@currentCulture" />
    <div class="app-navbar-item mt-2">
        <!--begin::Menu toggle-->
        <a class="btn btn-icon btn-custom btn-icon-muted btn-active-color-primary w-35px h-35px" data-kt-menu-trigger="{default:'click', lg: 'click'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <img src="~/assets/media/flags/@(flag).svg" class="w-20px h-50px" />
        </a>
        <!--begin::Menu toggle-->
        <!--begin::Menu-->
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-bg-light-primary fw-semibold py-4 fs-base w-150px" data-kt-menu="true">
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-0 language-dropdown-item" data-value="en-GB">
                <a href="#" class="menu-link px-3 py-2 @(currentCulture=="en-GB"?"active":"")">
                    <span class="menu-icon" data-kt-element="icon">
                        <img src="~/assets/media/flags/united-states.svg" class="w-15px h-15px" />
                    </span>
                    <span class="menu-title">
                        English
                    </span>
                </a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-0 language-dropdown-item" data-value="ar">
                <a href="#" class="menu-link px-3 py-2 @(currentCulture=="ar"?"active":"")">
                    <span class="menu-icon" data-kt-element="icon">
                        <img src="~/assets/media/flags/ae.svg" class="w-15px h-15px" />
                    </span>
                    <span class="menu-title">
                        Arabic
                    </span>
                </a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-0 language-dropdown-item" data-value="fa">
                <a href="#" class="menu-link px-3 py-2 @(currentCulture=="fa"?"active":"")">
                    <span class="menu-icon" data-kt-element="icon">
                        <img src="~/assets/media/flags/iran.svg" class="w-15px h-15px" />
                    </span>
                    <span class="menu-title">
                        Persian
                    </span>
                </a>
            </div>
            <!--end::Menu item-->
        </div>
        <!--end::Menu-->

    </div>
    @* <li class="nav-item dropdown mr-3 ml-5">
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
    <i class="flag-icon flag-icon-@lang"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-@(!rtl?"left":"right") p-0" style="left: inherit; right: 0px;" id="language-dropdown">
    <a href="#" class="dropdown-item" data-value="en-GB">
    <i class="flag-icon flag-icon-us mr-2"></i> English
    </a>
    <a href="#" class="dropdown-item" data-value="ar">
    <i class="flag-icon flag-icon-ae mr-2"></i> Arabic
    </a>
    <a href="#" class="dropdown-item" data-value="fa">
    <i class="flag-icon flag-icon-ir mr-2"></i> Persian
    </a>
    </div>
    </li> *@
</form>