.keyboard,
.numpad {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 50%;
    padding: 40px 0 10px;
    background: #e0ebff;
    transition: bottom 0.4s;
    border-radius: 10px;
}
    .numpad:not(.keyboard) {
        width: 15% !important;
    }

.keyboard--hidden,
.numpad--hidden {
    bottom: -100%;
}

.keyboard__keys,
.numpad__keys {
    text-align: center;
}

.keyboard__key,
.numpad__key {
    height: 50px;
    width: 8%;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.numpad__key {
    width: 25% !important;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 60%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.keyboard__close,
.numpad__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.toggle__keypad {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}