body {
    font-family: "Poppins", sans-serif !important;
}

:root {
    --bs-primary: #0A60E0;
}
.custom-toastr-success {
    background-color: #17C653 !important;
}

    .custom-toastr-success * {
        color: #fff !important;
    }

.custom-swal-icon {
    color: #fff;
}

.price-check-items:first-child {
    margin-top: 0 !important;
}

.h-60vh {
    height: 55vh;
}

.h-40vh {
    height: calc(45vh - 115px);
}

.custom-h-100vh {
    height: calc(100vh - 95px);
}

.welcome-card {
    width: 250px;
    text-align: left;
    padding: 20px !important;
    row-gap: 10px;
    border-radius: 15px;
}

.symbol .symbol-label {
    width: 35px;
    height: 35px;
    text-transform: uppercase;
}

.symbol.symbol-light-success .symbol-label {
    background-color: #C9F7F5;
    color: #1BC5BD;
}

.sticky-table-header {
    position: sticky;
    top: 0;
    background: #fff;
}

.table:not(.table-bordered) td:first-child,
.table:not(.table-bordered) th:first-child,
.table:not(.table-bordered) tr:first-child {
    padding-left: 15px !important;
}
